---
layout: default
---

<div class="fragment">
  <a class="list_button" href="/">
    <i class="fa fa-puzzle-piece"></i>
  </a>
  <div class="frag-container">
    {% include music.html %}
    <div class="frag-content">
      <h2>要写一些东西啦</h2>
      <p>
        其实还没完全想好新的模块要怎么安排空间，所以就先听歌咯
      </p>
      <p>
        Somewhere Only We Know - Keane
        <br>
        其实很早之前就有听这首歌，不过是 Lily Allen 的版本，Allen的版本比较柔情，而 Keane 则比较大叔一点。可能就是代表了男女双方不一样的情愫吧。
        <br>
        听歌的时候更关注的是节奏里的鼓声和浑厚的大叔声音 _< ，而情感早就在女声版里释放掉了。
        <br>
        这首歌是在 其实他没有那么喜欢你 这部电影里听到的，播放的场景正好是女主之一GiGi终于找到真爱时放的曲子。
        <br>
        电影总是这样，在最后结局的时候给你撒点鸡汤，有种全世界充满爱的错觉 =.=
      </p>
      <hr>
      <h2>呀</h2>
      <p>
        下面加载了Disqus的留言板不要浪费，请偶尔光顾这里的游客们留下你们的足迹~
        <br>
        友链的模块是有的，不过改版了还没来得及布置，需要交换友链的请留言。
        <br>
      </p>
      <hr>
      <h2>Share Links</h2>
      <p>
        <a href="http://gaohaoyang.github.io" target="_blank">[ Gaohaoyang ]</a>
        <a href="http://www.anotherhome.net" target="_blank">[ DIYgod ]</a>
      </p>
    </div>
    {% include comment.html %}
    {% include footer.html %}
  </div>
</div>
