---
layout: default 
---
<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <a class="list_button" href="/">
    <i class="fa fa-puzzle-piece"></i>
  </a>
  <div class="container">
    <h1>{{ site.title }}</h1>
    <ul class="meta">
      <li>
        <span>{{ site.tagline }}</span>
      </li>
    </ul>
  </div>
  {% include pagination.html %}
</header>
<article>
  {% include cate.html %}
  <div class="container cate-posts">
    <ul class="posts" data-cate="all">
      {% for post in paginator.posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <h2>{{ post.title }}</h2>
          <span class="date">{{ post.date | date_to_string }}</span>
          {{ post.excerpt }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- 分类菜单内容 -->
    {% for category in site.categories %}
    <ul class="posts cates" data-cate="{{category | first}}">
      {% for posts in category  %}
      {% for post in posts %}
      {% if post.url %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <h2>{{ post.title }}</h2>
          <span class="date">{{ post.date | date_to_string }}</span>
          {{ post.excerpt }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
  {% include return.html %}
</article>

