<div class="info">
  <a href="http://www.chen9.info" target="_blank"><div class="icon_chen"></div></a>
  <h2>Hello, I'm zchen9.</h2>
  <p>前端工程师</p>
  <p>离用户最近的艺术家 (๑•̀ㅂ•́)و✧</p>
  <p>日常爱好</p>
  <p>美剧 &middot; 听歌 &middot; 画画 &middot; 摄影 &middot; 吃吃吃 &middot; 买买买</p>
  <p>∞</p>
  <p>如果你喜欢这里，请在 <a href="https://github.com/zchen9/zchen9.github.io" target="_blank"> [ zchen9.github.io ] </a> 上给我一个 <b>★</b> ~</p>
  <p>或者去 <a href="http://www.chen9.info/fragment/"> [ Fragment ] </a> 给我留言 ヾ(^▽^*)))</p>
  <p>或者点击一下它们 ☟</p>
  <div class="list_icon">
    <a href="https://github.com/zchen9" target="_blank"><i class="fa fa-github-alt"></i></a>
    <a href="mailto:zhao.zchen9@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="http://sighttp.qq.com/authd?IDKEY=75e77b7cdf51cde5d2396922c37353bf5a18ee3dcbd38fd3"  target="_blank"><i class="fa fa-qq"></i></a>
    <a href="http://weibo.com/yoho92" target="_blank"><i class="fa fa-weibo"></i></a>
  </div>
</div>