<section class="info-container">
  <div class="info-content">
    <img class="info-avatar" src="{{site.avatar}}" />
    <div class="info-link">
      <a class="info-icon extra" href="{{site.fragmenturl}}"><i class="fa fa-puzzle-piece"></i></a>
      <a class="info-icon extra" href="{{site.github}}" target="_blank"><i class="fa fa-github-alt"></i></a>
      <a class="info-icon" href="{{site.codeurl}}" target="_blank"><i class="fa fa-code"></i></a>
      <div style="width: 100px; height: 100px; float: left; margin: 0 20px;"></div>
      <a class="info-icon" href="{{site.ins}}" target="_blank"><i class="fa fa-instagram"></i></a>
      <a class="info-icon extra" href="{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a class="info-icon extra" href="{{site.spotify}}" target="_blank"><i class="fa fa-spotify"></i></a>
    </div>
  </div>
</section>
 