<div class="info">
  <a href="http://www.chen9.info" target="_blank"><div class="icon_chen"></div></a>
  <h2>Hello, I'm zchen9.</h2>
  <p> Web 前端工程师</p>
  <p>离用户最近的艺术家 (๑•̀ㅂ•́)و✧</p>
  <p>∞</p>
  <p>日常爱好</p>
  <p>美剧 &middot; 听歌 &middot; 画画 &middot; 摄影 &middot; 吃吃吃 &middot; 买买买</p>
  <p>∞</p>
  <div class="list_icon">
    <a href="mailto:zhao.zchen9@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/zchen9" target="_blank"><i class="fa fa-github-alt"></i></a>
    <a href="https://instagram.com/imzchen9/"  target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="http://weibo.com/yoho92" target="_blank"><i class="fa fa-weibo"></i></a>
    <a href="http://www.zhihu.com/people/zhao-chen-43-99" target="_blank"><i>知</i></a>
  </div>
</div>