<div class="interest">
  <div class="int-content">
    <h2>&middot; 交个朋友吧 &middot;</h2>
    <p>血族/丑闻/权利的游戏/<b>美剧</b>/漫威大法/逍遥法外</p>
    <p>周杰伦/莫文蔚/陈奕迅/Ed Shreen/<b>歌手</b>/Lady GaGa/SHINee/FTIsland</p>
    <p>Kindle/<b>看书</b>/素描/柯南/<b>画画</b>/路飞/自画像</p>
    <p>不以<b>写代码</b>为职业的话/当<b>插画师</b>或者<b>设计师</b>咯/<b>无业游民</b>也说不定</p>
    <p>∞</p>
    <p>To see the world things dangerous to come to<br>To see behind walls to draw closer<br>To find each other and to feel</p>
    <p>That is the purpose of life</p>
    <div class="int-link">
      <span><a href="https://github.com/zchen9/zchen9.github.io" target="_blank"> [ 送 ★ 嘛 ] </a></span>
      &nbsp;&middot;&nbsp;
      <span><a href="http://www.chen9.info/fragment/messages/" target="_blank"> [ 去留言 ] </a></span>
      &nbsp;&middot;&nbsp;
      <span><a href="javascript:">[ 打赏啦 ]</a></span>
    </div>
  </div>
</div>

