<div class="interest">
  <div class="int-title">
    <h1>交个朋友吧</h1>
  </div>
  <div class="int-content">
    <div class="item">
      <h3>宅在家里要干嘛</h3>
      <p>看美剧?</p>
      <p>权利的游戏/漫威大法/逍遥法外</p>
      <p>听音乐?</p>
      <p>周杰伦/莫文蔚/陈奕迅<br>Ed Shreen/Lady GaGa/SHINee/FTIsland</p>
      <p>看书?</p>
      <p>Kindle在手，没有网的话可以捧着看一天</p>
      <p>画画?</p>
      <p>素描/柯南/路飞/自画像</p>
    </div>
    <div class="item">
      <h3>不以写代码为职业的话</h3>
      <p>当插画师或者平面设计师咯<br>无业游民也说不定</p>
    </div>
    <div class="item">
      <h3>理想生活</h3>
      <p>To see the world things dangerous to come to<br>To see behind walls to draw closer<br>To find each other and to feel</p>
      <p>That is the purpose of life</p>
    </div>
  </div>
  <div class="int-footer">
    <span><a href="https://github.com/zchen9/zchen9.github.io" target="_blank"> [ 送 ★ 嘛 ] </a></span>
    &nbsp;&middot;&nbsp;
    <span><a href="http://www.chen9.info/fragment/messages/" target="_blank"> [ 去留言 ] </a></span>
    &nbsp;&middot;&nbsp;
    <span><a href="javascript:">[ 打赏啦 ]</a></span>
  </div>
</div>

