<section class="logo-container">
  <svg class="logo-svg" width="350" height="350">
    <g class="svg-c">
      <path d="M2 60 L2 2 L60 2 " stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
    </g>
    <g class="svg-h">
      <path d="M2 350 L2 290" stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
      <path d="M0 350 L60 295 L60 330" stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
      <path d="M0 348 L45 348" stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
    </g>
    <g class="svg-e">
      <path d="M290 59 L290 2 L345 2" stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
      <path d="M345 2 L290 60 L335 60" stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
    </g>
    <g class="svg-n">
      <path d="M348 290 L348 348 L290 348" stroke-width="4" fill="transparent" stroke="{{site.logocolor}}"/>
    </g>
    <g class="svg-camera">
      <circle cx="175" cy="175" r="55" fill="transparent" stroke-width="4" stroke="{{site.logocolor}}"/>
    </g>
  </svg>
</section>
