<div class="map">
  <div class="map-content">
    <iframe src="https://www.google.com/maps/d/embed?mid=zk6gaDt42sI0.kHz_1MtsxVOY"></iframe>
  </div>
  <div class="map-container">
    <div class="map-text one">
      <h2>说走就走呗！</h2>
      <p>不知不觉就去了这么些地方</p>
      <p>去过沙漠，看过大海，爬过高山</p>
      <p>可是中国那么大，我去过的还只是零星一角</p>
      <p>护照和港澳通行证都已办妥，毕业旅行大概可以走得远一点</p>
      <p>∞</p>
    </div>
    <div class="map-text two">
      <h2>想去！</h2>
      <p>西藏 &middot; 昆明 &middot; 大理 &middot; 香港 &middot; 杭州</p>
      <p>新西兰 &middot; 欧洲列国 &middot; 亚马逊原始森林 &middot; 日韩</p>
    </div>
  </div>
</div>