<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/jquery.pagepiling.css">
<script>
(function() {
    //分页设置
    $('#pagepiling').pagepiling({
        menu: '#menu',
        anchors: ['info', 'hey', 'travel'],
        sectionsColor: [],
        navigation: {
            'textColor': '#f2f2f2',
            'bulletsColor': '#CE2323',
            'position': 'right'
        },

        afterRender: function(){
            $('#pp-nav').addClass('custom');
        },
        afterLoad: function(anchorLink, index){
            if (index > 1) {
                $('#pp-nav').removeClass('custom');
            } else {
                $('#pp-nav').addClass('custom');
            }
        }
    });
})();
</script>