//cate menu
.cate-menu {
  position: relative;
  width: 101%;
  box-shadow: 0 2px 5px #666;
  color: #333;
}

.cate-content {
  padding: 20px 0;
  display: none;
  h3{
    margin: 0;
    line-height: 2.4em;
    color: #CE2323;
    text-align: center;
  }
  ul{
    font-variant: small-caps;
  }
  li{
    list-style: none;
    display: block;
    padding: 6px 25px;
    border-radius: 5px;
    margin: 10px 18%;
    line-height: 1.3em;

    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;

    cursor: pointer;

    > span{
      position: relative;
      top: 3px;
      float: right;
      display: block;
      width: 24px;
      line-height: 1.4em;
      text-align: center;
      border-radius: 11px;
      background-color: #CE2323;
      color: #FFF;
      font-size: .8em;
    }

    &:hover{
      background-color: #CE2323;
      color: #FFF;
    }
  }
}

#cateShow {
  position: absolute;
  right: 25px;
  bottom: -40px;
  width: 32px;
  height: 40px;
  color: #FFF;
  z-index: 1;

  background-image: url(//7xic0o.com1.z0.glb.clouddn.com/stars.png);
  _background-image: url(//7xic0o.com1.z0.glb.clouddn.com/stars.png);

  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: bottom 0.9s;
  -webkit-transition: bottom 0.9s;
  -moz-transition: bottom 0.9s;
  -o-transition: bottom 0.9s;

  cursor: pointer;

  &:hover {
    background-position: 0 -40px;
  }
}
