.footer {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
}

@media screen and (max-width: 640px) {
  font-size: .7em;
}

@media screen and (max-width: 480px) {
  font-size: .5em;
}