.post-header,
.home-header {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: scroll;
  white-space: normal;
  position: relative;
  width: 35%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: opacity(1);
  -moz-filter: opacity(1);
  -ms-filter: opacity(1);
  -o-filter: opacity(1);
  filter: opacity(1);
  overflow: hidden;
  z-index: 2;

  h1 {
    color: #FFF;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
  }

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 12%;
    z-index: 1;
  }

  .meta {
    margin-top: 25px;
    margin-bottom: 10px;
    li {
      display: inline-block;
      margin-right: 25px;
      line-height: 30px;
      color: #fff;
    }
    span {
      margin-right: 10px;
      font-style: italic;
      color: rgba(255, 255, 255, .5);
    }
  }
}

.list_button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
  z-index: 9;
  &:hover {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    color: #ce2323;
    transition: background 300ms linear;
    -webkit-transition: background 300ms linear;
  }
  i {
    &.fa-puzzle-piece{
      position: absolute;
      top: 11px;
      left: 12px;
      font-size: 1.3em;
    }
    &.fa-cube{
      position: absolute;
      top: 11px;
      left: 12px;
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 960px) {
  .post-header {
    width: 102%;
    height: 40%;
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 20px 0 25px;
      text-align: center;
    }
    h1 {
      font-size: 30px;
    }
    .meta {
      margin-top: 20px;
      li {
        margin-right: 15px;
      }
    }
  }
  .home-header {
    width: 102%;
    height: 30%;
    h1 {
      font-size: 30px;
    }
    .meta {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 640px) {
  .post-header {
    height: 45%;
  }
  .home-header {
    height: 40%;
  }
}
