.info {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  flex-flow: column;

  position: relative;

  color: rgba(255, 255, 255, .85);

  animation: infoshow .9s linear;

  h2 {
    margin: 15px 0;
  }
}

@keyframes 'infoshow' {
  0% {
    top: -60px;
    opacity: 0;
  }

  33% {
    top: -30px;
    opacity: .2;
  }

  66% {
    top: -15px;
    opacity: .6;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.icon_chen {
  margin-top: 12%;
  margin-left: 50%;
  margin-bottom: 15px;
  transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);

  cursor: pointer;
  width: 160px;
  height: 160px;
  border-radius: 160px;
  background-image: url(//o40ss64l8.qnssl.com/icon_zchen9_winter.jpg);
}

.list_icon {
  width: 324px;
  overflow: hidden;
  margin: 0 auto;
  a{
    float: left;
    display: block;
    margin: 7px;
  }
  i {
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-radius: 42px;
    color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .15);
    transition: all .5s ease-in-out;
    cursor: pointer;

    &:hover {
      border-radius: 6px;
      color: rgba(255, 255, 255, .9);
      background-color: #CE2323;
    }
  }
}

@media screen and (max-width: 640px) {
  .info {
    font-size: .9em;
    line-height: 2.2em;
  }
}

@media screen and (max-width: 480px) {
  .info {
    font-size: .8em;
    line-height: 2em;
  }
}