.interset {
  position: relative;
}
.int-title {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 30px 0;
  text-align: center;
  h1{
    color: #fff;
    margin-bottom: 20px;
  }
}

.int-content {
  margin: 30px auto;
  width: 100%;
  overflow: hidden;
  h3 {
    font-weight: 500;
    margin-bottom: 15px;
  }
  .item {
    float: left;
    width: 33%;
    p {
      margin: 0 auto;
      width: 88%;
      white-space: pre-wrap;
    }
  }
}
.int-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

@media screen and (max-width: 786px) {
  .int-content {
    width: 100%;
    .item {
      padding: 15px 0;
      clear: both;
      width: 100%;
      font-size: .9em;
      line-height: 1.2em;
    }
  }
}