.interset {
  position: relative;
}
.int-content {
  margin: 30px auto;
  width: 100%;
  overflow: hidden;
  h2 {
    margin-bottom: 60px;
    color: #FFF;
    font-size: 1.8em;
  }
  p {
    margin: 0 auto;
    white-space: pre-wrap;
  }
  b {
    margin: 0 3px;
    font-size: 1.4em;
    font-weight: 600;
  }
}
.int-link {
  margin-top: 25px;
}

@media screen and (max-width: 786px) {
  .int-content {
    width: 80%;
  }
}