.interset {
  position: relative;
}
.int-content {
  margin: 30px auto;
  width: 100%;
  overflow: hidden;
  h2 {
    margin-bottom: 60px;
    color: #FFF;
    font-size: 1.8em;
  }
  p {
    font-size: 1em;
    margin: 0 auto;
    white-space: pre-wrap;
  }
  b {
    margin: 0 3px;
    font-size: 1.4em;
    font-weight: 600;
  }
}
.int-link {
  margin-top: 30px;
}

@media screen and (max-width: 786px) {
  .int-content {
    width: 80%;
    font-size: 1em;
    h2 {
      margin-top: 25px;
      margin-bottom: 35px;
      font-size: 1.7em;
    }
    p {
      font-size: .9em;
      line-height: 1.5em;
    }
    b {
      font-size: 1.2em;
    }
  }
}