//main
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  overflow: scroll;

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  background-image: url(//7xic0o.com1.z0.glb.clouddn.com/mainbg.jpg);

  .list_button {
    z-index: 1;
  }
}

.main-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  width: 768px;
  height: 240px;
  background-color: rgba(25, 25, 25, .2);

  a {
    display: inline-block;
    line-height: 1em;
    margin: 0 5px;
    padding-left: 20px;
    word-spacing: 1.5em;
    letter-spacing: .8em;
    font-size: 2.6em;
    font-family: 'Stalemate', cursive, sans-serif;
  }
}

@media screen and (max-width: 640px) {
  .main-container {
    flex-flow: column;
    -webkit-flex-flow: column;
    a {
      margin: 5px 0;
    }
  }
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0px;
  background: #CE2323;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
