html,
body {
  height: 100%;
  min-width: 768px; }

body {
  overflow-x: hidden;
  font-family: 'Bitter', 'Lantinghei SC', 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  font-weight: 400;
  white-space: nowrap; }

.fa {
  margin-right: 10px; }

h1,
h2 {
  font-family: 'Open Sans', 'Lantinghei SC', 'Microsoft YaHei', sans-serif; }

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 1.3;
  color: #FFF; }

h2 {
  margin: 18px 0;
  font-weight: 600;
  font-size: 24px; }

h3 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 400; }

h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 16px 0 10px; }

h5 {
  font-size: 18px; }

blockquote {
  border-left: 6px solid #ddd;
  padding: 2px 10px 0 20px;
  margin: 10px 0;
  color: #666;
  clear: both;
  width: 96%;
  word-break: break-word;
  word-wrap: break-word; }

a:link, a:visited {
  color: #CE2323;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none; }

header,
article {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: scroll;
  white-space: normal; }

.container {
  padding: 100px 50px;
  width: 100%; }

header {
  position: relative;
  width: 35%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: opacity(1);
  -moz-filter: opacity(1);
  -ms-filter: opacity(1);
  filter: opacity(1);
  overflow: hidden; }
  header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  header .container {
    padding: 0 50px;
    z-index: 1; }
  header ul.meta {
    margin-top: 25px;
    margin-bottom: 10px; }
  header ul li {
    display: inline-block;
    margin-right: 25px;
    line-height: 30px;
    color: #fff; }
    header ul li span {
      margin-right: 10px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.5); }

.list_button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear; }
  .list_button:hover {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    color: #ce2323;
    transition: background 300ms linear;
    -webkit-transition: background 300ms linear; }
  .list_button i.fa-puzzle-piece {
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 1.3em; }
  .list_button i.fa-cube {
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 1.2em; }

/* Pagination */
.pagination:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both; }
.pagination a {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-family: 'Open Sans', 'Lantinghei SC', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px; }
  .pagination a:hover {
    background: #fff;
    color: #ce2323; }

.previous {
  float: left; }

.next {
  float: right; }

.comment {
  margin-top: 100px;
  margin-bottom: 25px; }

/* Article */
article {
  width: 65%;
  margin-left: -3px;
  margin-top: -5px;
  overflow-x: hidden;
  text-align: justify;
  text-justify: inter-ideograph; }
  article .container {
    padding-top: 80px; }
  article .article {
    font-size: .9em;
    font-family: 'Lantinghei SC', 'Microsoft YaHei', sans-serif; }
    article .article p {
      margin-bottom: 1em; }
    article .article li {
      margin-left: 3em;
      margin-bottom: 9px;
      list-style-type: disc; }
    article .article b {
      display: block;
      font-size: 1em;
      margin: 15px 0;
      font-weight: 600;
      color: #CE2323; }
    article .article h2 {
      margin: 20px 0; }
    article .article h3 {
      color: #000;
      font-size: 22px;
      font-weight: 600; }
    article .article h4 {
      display: block;
      font-size: 1.2em;
      margin: 20px 0;
      font-weight: 600;
      color: #CE2323; }
    article .article code {
      padding: 2px 5px;
      margin: 0 2px;
      border-radius: 3px;
      color: #CE2323;
      font-weight: 400;
      background-color: rgba(255, 58, 71, 0.1);
      font-family: 'Consolas', 'Lucida Grande', arial, sans-serif; }
      article .article code.hljs {
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 9px;
        border: 1px dashed #FF8E8E;
        background-color: #FFFCFA;
        color: #222;
        clear: both;
        width: 96%;
        word-break: break-word;
        word-wrap: break-word; }
    article .article time {
      font-size: 1.2em;
      padding: 5px;
      font-weight: 600;
      display: block; }
  article ul {
    list-style: none; }
    article ul.posts li {
      margin: 0 2em 32px;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      article ul.posts li:hover {
        padding-left: 30px;
        border-left: 15px solid #CE2323;
        -webkit-transition: all .3s linear;
        transition: all .3s linear; }
    article ul.posts .date {
      display: block;
      margin: 8px 0;
      color: #8d8d8d; }
    article ul.posts h2 {
      margin-top: 10px;
      margin-bottom: 5px; }
    article ul.posts h3 {
      font-weight: 400;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #333; }
    article ul.posts p {
      margin: 10px 0; }
  article .table {
    width: 100%;
    display: inline-block; }
    article .table li {
      list-style: none; }
      article .table li > span {
        float: left;
        display: block;
        width: 82%;
        list-style: none; }
    article .table .meta {
      width: 18%; }

.cate-menu {
  position: relative;
  width: 101%;
  box-shadow: 0 2px 5px #666;
  color: #333; }

.cate-content {
  padding: 20px 0;
  display: none; }
  .cate-content h3 {
    margin: 0;
    line-height: 2.4em;
    color: #CE2323;
    text-align: center; }
  .cate-content ul {
    font-variant: small-caps; }
  .cate-content li {
    list-style: none;
    display: block;
    padding: 6px 25px;
    border-radius: 5px;
    margin: 10px 18%;
    line-height: 1.3em;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    cursor: pointer; }
    .cate-content li > span {
      float: right;
      display: block;
      width: 22px;
      line-height: 1.3em;
      text-align: center;
      border-radius: 11px;
      background-color: #CE2323;
      color: #FFF; }
    .cate-content li:hover {
      background-color: #CE2323;
      color: #FFF; }

#cateShow {
  position: absolute;
  right: 25px;
  bottom: -40px;
  width: 32px;
  height: 40px;
  color: #FFF;
  background-image: url(../../images/stars.png);
  _background-image: url(../../images/stars.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: bottom 0.9s;
  -webkit-transition: bottom 0.9s;
  -moz-transition: bottom 0.9s;
  -o-transition: bottom 0.9s;
  cursor: pointer; }
  #cateShow:hover {
    background-position: 0 -40px; }

#returnTop {
  position: fixed;
  right: 25px;
  bottom: -200px;
  width: 36px;
  height: 65px;
  color: #FFF;
  background-image: url(../../images/top.png);
  _background-image: url(../../images/top.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: bottom 0.9s;
  -webkit-transition: bottom 0.9s;
  -moz-transition: bottom 0.9s;
  -o-transition: bottom 0.9s;
  cursor: pointer; }
  #returnTop:hover {
    background-position: 0 -65px; }

@media (max-width: 960px) {
  h1 {
    font-size: 30px; }

  header {
    width: 100%;
    min-width: 768px;
    height: auto; }
    header#home-header .container {
      padding: 100px 50px; }
    header .container {
      padding: 80px 0 10px; }
    header .inner-container {
      padding: 0 50px; }
    header ul.meta {
      margin-bottom: 0; }

  article {
    display: block; }

  .container {
    padding: 25px; }

  .pagination {
    margin-bottom: 15px;
    padding: 0 10px; }

  article {
    width: 100%;
    overflow: visible; }
    article .container {
      padding: 50px !important; }
    article li {
      margin: 10px 0 5px 2em; }

  .about-container,
  .frag-container {
    padding: 0 5%; }

  #returnTop {
    position: fixed;
    right: 9px; } }
@media screen and (min-width: 960px) {
  header#home-header .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  header .container {
    position: absolute;
    top: 0; }
    header .container.post-container {
      padding: 0;
      position: relative;
      height: 100%; }
    header .container .inner-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      padding: 0 50px; }

  .pagination {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px; } }
@media screen and (max-width: 768px) {
  header ul.meta {
    margin-top: 10px; } }
.main,
.about,
.fragment {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .main .list_button,
  .about .list_button,
  .fragment .list_button {
    z-index: 1; }

.main {
  background-image: url(../../images/mainbg.jpg); }

.about {
  background-image: url(../../images/aboutbg.jpg); }

.fragment {
  background-image: url(../../images/fragbg.jpg); }

.main-container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 768px;
  height: 240px;
  background-color: rgba(25, 25, 25, 0.2); }
  .main-container a {
    display: inline-block;
    line-height: 1em;
    margin: 0 5px;
    padding-left: 20px;
    word-spacing: 1.5em;
    letter-spacing: .8em;
    font-size: 2.6em;
    font-family: 'Stalemate', cursive, sans-serif; }

.about-container,
.frag-container {
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0; }
  .about-container article,
  .frag-container article {
    text-align: center; }
  .about-container b,
  .frag-container b {
    color: #CE2323; }

.about-container {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); }

.frag-container {
  padding-top: 30px; }
  .frag-container article {
    width: 100%;
    padding: 0 15%; }

.icon_chen {
  margin-top: 7%;
  margin-left: 50%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 160px;
  height: 160px;
  border-radius: 160px;
  background-image: url("../../images/icon_zchen9.jpg"); }

.list_icon {
  width: 320px;
  overflow: hidden;
  margin: 0 auto; }
  .list_icon a {
    float: left;
    display: block;
    height: 48px;
    width: 48px;
    margin: 16px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: invert(0.5);
    -moz-filter: invert(0.5);
    -ms-filter: invert(0.5);
    filter: invert(0.5); }
    .list_icon a:hover {
      -webkit-filter: invert(0.9);
      -moz-filter: invert(0.9);
      -ms-filter: invert(0.9);
      filter: invert(0.9); }

.github_button {
  background-image: url(../../images/icon_github.png); }

.mail_button {
  background-image: url(../../images/icon_mail.png); }

.qq_button {
  background-image: url(../../images/icon_qq.png); }

.weibo_button {
  background-image: url(../../images/icon_weibo.png); }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0px;
  background: #CE2323;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

.music {
  margin: 20px 0 15px; }

.frag-content {
  margin: 15px auto;
  width: 78%; }

.frag-footer {
  margin-top: 50px; }
