.map {
  width: 80%;
  margin: 20px auto;
}
.map-content {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  > iframe {
    width: 480px;
    height: 360px;
  }
}
.map-container {
  float: right;
  margin: -10px 5px 0;
}

.map-text {

  text-align: center;

  h2 {
    margin: 10px 0;
    font-weight: 500;
  }
  p {
    font-size: 1em;
    margin: 5px auto;
  }
}

@media screen and (max-width: 1200px){
  .map-content {
    width: 100%;
    > iframe {
      width: 80%;
    }
  }
  .map-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .map-content {
    margin-top: 5px;
    > iframe {
      width: 80%;
      height: 320px;
    }
  }
  .map-text {
    h2 {
      margin: 5px 0;
    }
    p {
      font-size: .9em;
      line-height: 1.5em;
      margin: 3px auto;
    }
    &.one {
      display: none;
    }
  }
}