*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 650px;
}

body {
  overflow-x: hidden;
  font-family: 'Bitter','Microsoft YaHei',arial,serif;
  font-size: 16px;
  line-height: 28px;
  color: #222;
  font-weight: 400;
  white-space: nowrap;
}

/* Type */

h1,
h2 {
  font-family: 'Open Sans','Microsoft YaHei',arial,sans-serif;
}

h1 {
  line-height: 1.3;
  font-weight: 600;
  font-size: 60px;
  color: #FFF;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 36px;
}

h3{
    margin-bottom: 15px;
    margin-top: 50px;
    font-size: 1.3em;
    font-weight: 600;
}

blockquote {
  border-left: 5px solid #ddd;
  margin: 0 .5em;
  padding-left: 10px;
  color: #666;
}

@media (max-width: 960px) {
  h1 {
    font-size: 30px;
  }
  header .container ul.meta {
    margin-bottom: 0;
  }
}

/* Header & Article */

header,
article {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: scroll;
  white-space: normal;
}

.container {
  padding: 100px 50px;
  width: 100%;
}

@media (max-width: 960px) {
  article {
    display: block;
  }
  .container {
    padding: 25px;
  }
}

/* Header */

header {
  position: relative;
  width: 35%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: opacity(.9);
  filter: opacity(.9);
  overflow: hidden;
}

@media (max-width: 960px) {
  header {
    width: 100%;
  }
  header {
    height: auto;
  }
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

header .container {
  padding: 0 50px;
  z-index: 1;
}


@media screen and (min-width: 961px){
  #home-header .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  header .container {
    position: absolute;
    top: 0;
  }
  header .container.post-container {
    padding: 0;
    position: relative;
    height: 100%;
  }

  header .post-container .inner-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    padding: 0 50px;
  }
}

@media screen and (max-width: 960px){
  #home-header .container {
    padding: 100px 50px;
  }

  header .container {
    padding: 80px 0 10px;
  }
  header .container .inner-container {
    padding: 0 50px;
  }
}

header .home_button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-align: center;
  background-image: url(../../images/icon_home.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}


header .home_button:hover {
  background: #fff;
  background-image: url(../../images/icon_home_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #ce2323;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}

header .list_button{
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 21px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 5px;
  text-indent: -.3em;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}
.list_button:hover {
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  color: #ce2323;
  transition: background 300ms linear;
  -webkit-transition: background 300ms linear;
}

/*info*/

header .info{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 35px;
  background-color: rgba(0,0,0,.5);
}

.info span{
  display: block;
  font-size: 12px;
  color: #666;
  padding-top: 4px;
}

header ul.meta {
  margin-top: 45px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px){
  header ul.meta {
    margin-top: 10px;
  }
}

#home-header ul.meta {
  margin-top: 15px;
}

header ul.meta li {
  display: inline-block;
  margin-right: 25px;
  line-height: 30px;
  color: #fff;
}

header ul.meta li span {
  margin-right: 10px;
  font-style: italic;
  color: rgba(255, 255, 255, .5);
}


/* Pagination */

@media screen and (min-width: 961px){
  .pagination {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }  
}

@media screen and (max-width: 960px){
  .pagination {
    margin-top: 40px;
    padding: 0 10px;
  }  
}

.pagination:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.pagination a {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.pagination a:hover {
  background: #fff;
  color: #ce2323;
}

/* Article */

article {
  width: 65%;
  overflow-x: hidden;
}


article .container {
  padding-top: 80px;
}

@media (max-width: 960px) {
  article {
    width: 100%;
    overflow: visible;
  }
  article .container {
    padding: 25px !important;
  }
}

article p {
  margin-bottom: 1em;
}

article li {
  margin-left: 3em;
  margin-bottom: 9px;
  list-style-type: disc;
}

@media (max-width: 960px) {
  article li {
    margin-left: 2em;

    margin-bottom: 5px;
    margin-top: 10px;
  }
}

article a {
  color: #CE2323;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

article b{
  display: block;
  font-size: 1.1em;
  margin: 15px 0;
  font-weight: 600;
  color: #666;
}

article time{
  font-size: 1.2em;
  padding: 5px;
  font-weight: 600;
  display: block;
}

section {
    font-family: 'Microsoft YaHei',arial,serif;
}

/*info_page*/

.blur {
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(5px); /* Chrome, Opera */
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}

.info_page {
	position: absolute;

	background-color: rgba(0,0,0,.8);

	color: #ededed;
	font-size: 15px;

	transition: .3s ease-in-out top;
}

.info_page .home_button {
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	width: 21px;
	height: 18px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	line-height: 40px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	text-align: center;
	background-image: url(../../images/icon_home.png);
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	transition: background 300ms linear;
	-webkit-transition: background 300ms linear;
}


.info_page .home_button:hover {
	background: #fff;
	background-image: url(../../images/icon_home_hover.png);
	background-position: center;
	background-repeat: no-repeat;
	color: #ce2323;
	transition: background 300ms linear;
	-webkit-transition: background 300ms linear;
}

.info_menu {
	float: left;

	width: 35%;
	height: 100%;

	background-color: rgba(0,0,0,.2);
}

.info_menu ul{
	margin-left: 70px;
	margin-top: 200px;

	font-size: 1.2em;

	list-style: none;
}

.info_menu li{
	margin: 10px;
	font-weight: 700;
	cursor: pointer;
}
.info_menu li:hover{
	color: #ce2323;
}

.info_menu ul .active{
	color: #ce2323;
}

.info_content {
	position: relative;

	float: left;
	width: 65%;
	height: inherit;

	background-color: rgba(0,0,0,.5);
}
.info_content article {
	width: 100%;
	overflow: hidden;
}

.icon_chen {
	margin-top: 80px;
	margin-left: 38%;

	width: 160px;
	height: 160px;
	border-radius: 160px;
	background-image: url("../../images/icon_zchen9.png");
}


.info_me {
	display: none;

	margin: 30px 100px;

	text-indent: 2em;
}

.info_me h1{
	margin: 20px 0;
	font-size: 20px;
	text-align: left;
}

.info_me p {
	margin: 5px 0;

}

.contact_me{

	margin-top: 80px;
	margin-left: 26%;
}

.contact_me span {
	display: block;
	margin-left: 5%;
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 600;
}

.contact_me a{
	float: left;
	display: block;

	height: 48px;
	width: 48px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-filter:invert(.5);
	filter: invert(.5);
}
.contact_me a:hover{
	-webkit-filter:invert(.9);
	filter: invert(.9);
}

.github_button{
	margin-left: 30px;
	background-image: url(../../images/icon_github.png);
}
.mail_button{
	margin-left: 30px;
	background-image: url(../../images/icon_mail.png);
}
.qq_button{
	margin-left: 30px;
	background-image: url(../../images/icon_qq.png);
}
.weibo_button{
	margin-left: 30px;
	background-image: url(../../images/icon_weibo.png);
}

@media (max-width: 960px) {
	.info_menu {
		width: 100%;
		height: 280px;
	}
	.info_menu ul{
		display: inline-flex;
		font-size: 20px;
	}
	.info_content {
		width: 100%;
		height: 900px;
	}
	.info_content article {
		width: 100%;
		overflow: hidden;
		background-color: #1e0010;
	}
	.icon_chen {
		margin-top: 80px;
		margin-left: 40%;
	}
	.contact_me{
		margin-top: 100px;
		margin-left: 28%;
	}
}
/* Posts List */

ul.posts li {
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
}

ul.posts .meta {
  display: block;
  margin-bottom: 16px;
  color: #8d8d8d;
}

ul.posts p {
  margin: 30px 0;
}

span{
    color: #CE2323;
}



.table{
    width: 100%;
    display: inline-block;
}
.table li{
    list-style: none;
}
.table .meta{
    width: 18%;
}

.table li > span{ 
    float: left;
    display: block;
    width: 82%;
    list-style: none;
}