<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title + page.title }}</title>
  <meta name="viewport" content="width=device-width,inital-scale=1">

  <!-- highlight.js -->
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
  


  <!-- Icons -->
  <!-- 16x16 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-chen.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-chen.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-144x144-chen.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-chen.png">


</head>
<body>
  {{ content }}

	<script src="../assets/js/util.js"></script>
  <script src="../assets/js/index.js"></script>
</body>
</html>
