<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title + page.title }}</title>
  <meta name="viewport" content="width=device-width,inital-scale=1">

  <!-- highlight.js -->
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/reset.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
  


  <!-- Icons -->
  <!-- 16x16 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.jpg">
</head>
<body>
  {{ content }}

	<script src="../assets/js/util.js"></script>
  <script src="../assets/js/index.js"></script>
</body>
</html>
